body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 8px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
